h1{
    
    margin: 10px 0;
}

div.box{
    width: 200px;
    margin: 0 auto;
    height: 62px;
    position: relative;
}

.box h1{
    position: absolute;
    top: 0;
    left:0;
}

button{
    display: block;
    transform: translateX(-65px);
    margin: 40px auto;
}

.exit-done{
    display: none;
}



