.pageSpan{
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #1b1be8;
    margin: 0 5px;
    cursor: pointer;
}
.pageSpan.disable{
    color: #ccc;
    cursor: not-allowed;
}
.pageSpan.active{
    border: none;
    color: red;
    cursor: auto;
}
.pageDiv{
    text-align: center;
    margin-top: 30px;
}