.box{
    width: 100px;
    margin: 0 auto;
}

.exit{
    opacity:1;
}
.exit-active{
    opacity: 0;
    transition: 800ms;
}

.enter,.appear{
    opacity:0;
}
.enter-active,.appear-active{
    opacity: 1;
    transition: 800ms;
}